* {
  padding: 0;
  border: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner- {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #111;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 2000px;
}

.wrapper {
  height: 100%;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.menu {
  position: absolute;
  right: 0;
  z-index: 3;
}

.block__menu {
  width: 300px;
  height: 500px;
  margin-right: 50px;
  position: relative;
  font-size: 35px;
  text-align: right;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-transition: 0.7s ease all 0s;
  transition: 0.7s ease all 0s;
}

.block__menu.active {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.block__menu::after {
  top: 100px;
  left: 0;
  content: "";
  background-color: #c9a222;
  -webkit-transform: skewY(15deg) translatey(-190px);
          transform: skewY(15deg) translatey(-190px);
  width: 100%;
  height: 530px;
  position: absolute;
  z-index: 1;
}

.block__menu::before {
  content: "";
  top: 100px;
  right: 0;
  background-color: #d1002d;
  -webkit-transform: skewY(15deg) translatey(-190px);
          transform: skewY(15deg) translatey(-190px);
  width: 100%;
  height: 510px;
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 10px 3px #000;
          box-shadow: 2px 2px 10px 3px #000;
}

.list {
  bottom: 0;
}

.list li {
  color: #111;
  padding: 8px 8px;
  margin: 5px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.list li:hover::before {
  content: "";
  right: -1px;
  top: 3px;
  width: 5px;
  height: 100%;
  background-color: #111;
  position: absolute;
  z-index: 3;
}

.button {
  cursor: pointer;
  position: relative;
}

.button::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 20px solid #111;
  display: block;
  z-index: 3;
  position: absolute;
  right: 10px;
  bottom: -5px;
}

.button::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  border-left: 24px solid transparent;
  border-top: 15px solid #d1002d;
  display: block;
  z-index: 3;
  position: absolute;
  right: 16px;
  bottom: -2px;
}

.block__menu.active .button::before {
  border-top: 0;
  border-bottom: 20px solid #111;
}

.block__menu.active .button::after {
  border-top: 0;
  border-bottom: 15px solid #d1002d;
  bottom: -3px;
}

.content {
  font-size: 30px;
  padding: 100px 0;
}

.title {
  font-size: 50px;
  font-weight: 400;
  padding: 20px 0;
}

.text p {
  padding: 10px 0;
  font-weight: 100;
  text-align: justify;
}
